<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foured</key>
	<array/>
	<key>third</key>
	<array/>
	<key>second</key>
	<array/>
	<key>first</key>
	<array>
		<string>firstVybor</string>
	</array>
</dict>
</plist>
